<ion-view view-title="Events">
    <ion-content>
        <div class="item card-item">
            <div ng-click="openEvent('{{event.$id}}')" class="card stable-bg ink ink-dark" ng-repeat="event in events">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/crown.jpg');"></span>
                    <h2>{{event.name}}</h2>
                    <p>Distance: 30 KM</p>
                    <p>Starting in: {{momment().diff(event.start).format("HH:mm:ss")}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>