<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="dark-bg expanded hero">
      <div class="content" style="position:inherit">
          <div class="avatar" style="background-image: url('img/crown.jpg');"></div>
          <h3><a class="light">Daenerys Targaryen</a></h3>
      </div>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list menu-close href="#/app/login">
        <button class="button button-full">Login</button>
      </ion-list>
      <ion-list>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
	       <ion-item menu-close href="#/app/host">
          Host
        </ion-item>
	       <ion-item menu-close href="#/app/calendar">
          Calendar
        </ion-item>
        <ion-item menu-close href="#/app/findevents">
          Find Events
        </ion-item>
        <ion-item menu-close href="#/app/savedevents">
          Saved Events
        </ion-item>
	<ion-item menu-close href="#/app/applieddevents">
          Applied Events
        </ion-item>
	<ion-item menu-close href="#/app/supportus">
          Support Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
