<ion-view view-title="Profile">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{profile.avatar}}');"></div>
                <h3><a class="light">{{profile.display_name}}</a></h3>
                <h4>  </h4>
            </div>
        </div>

        <ion-item class="list animate-fade-slide-in-right">
            <div class="item item-text-wrap" ng-repeat="(key,value) in profile.fields">
                <h2>{{key}}</h2>
                <p>{{value}}</p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>