<head>

<ion-view view-title="Profile Form"> 

<link rel="stylesheet" type="text/css" href="/home/scott/hackagong2015/css.css">

</head>

<ion-content>

<label class="item item-input">
  <span class="input-label">Name</span>
  <input type="text">
</label>

<label class="item item-input">
  <span class="input-label">Age</span>
  <input type="number">
</label>

<label class="item item-input">
  <span class="input-label">Hobbies</span>
  <input type="text">
</label>

<label class="item item-input">
  <span class="input-label">Music Taste</span>
  <input type="text">
</label>

<label class="item item-input">
  <span class="input-label">Spoken Languages</span>
  <input type="text">
</label>

<label class="item item-input">
  <span class="input-label">Random Information</span>
  <input type="text">
</label>

  </ion-content>

</ion-view>

